body{
    padding: 5px;
    font-size: medium;
    background-image: url("../images/carpenter.jpg");
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-size: 100%;
    display: block;
}


.nav {background-color:black;  position: relative; bottom: 4px; right: 4px; width: 100.5%;}
.carousel-inner > .item > img {
    width:100%;
    height:400px;
    padding: 1px;
  }
.title {
    font-family: 'Bangers', cursive;
}
.image {
    height: 150px;
    width: 145px;
}

.logo {
    height: 40px;
    float: right
    ;
}
.footer { 
    background-color:black;
    color: white;
    text-align: center;
    width:102.5% ;
    position: relative; right: 1.3%;
}
.s1 {background-color: #337AA6; border-radius: 8px; margin: 6px; width: 32.3%; padding: 10px ;}
.s2 {background-color: #337AA6; border-radius: 8px; margin: 3px; width: 58%; }
.s3 {background-color: #337AA6; border-radius: 8px; margin: 3px; width: 41%; padding: 7px;}

.user {
    position: relative; bottom:380%; right: 35%;
}
@media (max-width: 1300px) {
    body { 
        height: 100%;
        width: 100%;
 }
 .s1 {width: 32%; margin: 2px;}
 .s2 { width: 40%;  margin-top: 10%; margin-right: 50%; }
 .s3 { margin-left: 43%; position: relative; bottom:290px ; width: fit-content;   }
}
@media (max-width:660px) {
    .s3{
        width:fit-content; position: relative; bottom: 320px;
    }
}

@media (max-width:576px) {
    .s3{ display:inline-block;
        width: fit-content; position: relative; bottom: 345px;
    }
}

